* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    padding: 20px 40px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-weight: bold;
    font-size: 20px;
    color: #000;
  }
  
  .logo span {
    color: orange;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 16px;
  }
  
  nav a.active {
    font-weight: bold;
    border-bottom: 2px solid #333;
  }
  
  .hero {
    background-image: url(./images/hone.jpg);
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5); /* overlay for readability */
  }
  
  .hero-content {
    position: relative;
    text-align: center;
    color: #333;
    z-index: 1;
  }
  
  .hero h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 18px;
    max-width: 700px;
    margin: 0 auto;
  }